<div class="container-data">




    <form #applyInfo="ngForm" (ngSubmit)="submitInfo(applyInfo.value)">

        <div class="radio-container">

            <label id="example-radio-group-label">What is your Gender ?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="gender"
                ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="male">Male</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="female">Female</mat-radio-button>


            </mat-radio-group>

        </div>


        <div class="radio-container">

            <label id="example-radio-group-label">What is your age ?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" name="age" ngModel
                color="primary">

                <mat-radio-button class="example-radio-button" value="18 - 25 Years">18 - 25 Years</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="25 - 30 Years">25 - 30 Years</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="30 - 40 Years">18 - 25 Years</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="40+ Years">40+ Years</mat-radio-button>


            </mat-radio-group>

        </div>


        <div class="radio-container">

            <label id="example-radio-group-label">What is your age ?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                name="marritalStatus" ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="Single">Single</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="Single">Married</mat-radio-button>



            </mat-radio-group>

        </div>



        <div class="radio-container">

            <label id="example-radio-group-label">What is your employment status ?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                name="employmentStatus" ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="Part-time">Part-time</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="Full-time">Full-time</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="Self-employed">Self-employed</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="Unemployed">Unemployed</mat-radio-button>


            </mat-radio-group>

        </div>


        <div class="radio-container">

            <label id="example-radio-group-label">What is youre number of years employeed ?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                name="yearsEmployed" ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="1 year"> 1 Year</mat-radio-button>

                <mat-radio-button class="example-radio-button" value=" 1- 3 years "> 1 - 3 years</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="3+ years"> 3+ Years</mat-radio-button>

            </mat-radio-group>

        </div>

        <div class="radio-container">

            <label id="example-radio-group-label">How do you save ?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                name="savingDone" ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="Monthly"> Monthly</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="Whenever I receive money"> Whenever I receive money</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="I don't make enough to save"> I don't make enough to save</mat-radio-button>

                
            </mat-radio-group>

        </div>

        <div class="radio-container">

            <label id="example-radio-group-label">What is your current saving balance ?</label>


            <mat-checkbox *ngFor="let expense of expenses" name="expenses" class="example-radio-button"
                value="{{expense.value}}" [(ngModel)]="expense.checked">{{expense.name}}</mat-checkbox>



        </div>

        <div class="radio-container">

            <label id="example-radio-group-label">Have you applied for a loan before with another company?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                name="appliedElsewhere" ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="Yes"> Yes</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="No"> No</mat-radio-button>

            </mat-radio-group>

        </div>

        <div class="radio-container">

            <label id="example-radio-group-label">Have you paid this loan in full?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                name="repaymentCompletion" ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="Yes"> Yes</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="No"> No</mat-radio-button>

            </mat-radio-group>


        </div>



        <div class="radio-container">

            <label id="example-radio-group-label">What is your family structure?</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                name="familyStructure" ngModel color="primary">

                <mat-radio-button class="example-radio-button" value="Single"> Single</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="Less than 3 dependants"> Less than 3 dependants
                </mat-radio-button>

                <mat-radio-button class="example-radio-button" value="3-5 dependants"> 3-5 dependants</mat-radio-button>

                <mat-radio-button class="example-radio-button" value="5+ dependants"> 5+ dependants</mat-radio-button>

            </mat-radio-group>

        </div>

        <div class="radio-container">

            <label id="example-radio-group-label">What are your assets ?</label>


            <mat-checkbox *ngFor="let asset of assets" name="assets" class="example-radio-button"
                value="{{asset.value}}" [(ngModel)]="asset.checked">{{asset.name}}</mat-checkbox>



        </div>













        <div>

            <button class="btn btn-primary" type="submit">Add Details</button>


        </div>



    </form>






</div>

