<mat-toolbar class = "navbar">
    <div class = "logo">

        <span>LMS</span>

    </div>

    <div>

        <ul>

            <li>
                <a routerLink = ""> Home </a>
            </li>
            <li>
              <a  routerLink = "/about">  About Us</a>
            </li>

        </ul>

    </div>
    
    <div>

        <a routerLink="/login">

            <button>
                Login
            </button>

        </a>
        

        <a routerLink = "/register">
            
            <button>
                Register
            </button>

        </a>

       

    </div>
</mat-toolbar>