<div class="container">
  <div>
    <h1>How can I repay the loan ?</h1>
    <p>
      The loan can be repayed via mibile money or cash at the nearest branch.
    </p>
  </div>

  <div class="item-container">
    <div class="item">
      <h2>Mobile Money</h2>

      <ul>
        <li>MTN Mobile Money using contact 0966666666</li>
        <li>Zamtel Mobile Money using contact 0955555555</li>
        <li>Airtel Mobile Money using contact 0977777777</li>
      </ul>
    </div>

    <div class="item">
      <h2>Cash</h2>

      <ul>
        <li>At Stanbic Bank Zambia Ltd</li>
        <li>Account number 55555555555</li>
        <li>First National Bank Zambia</li>
        <li>Account number 8888888888</li>
      </ul>
    </div>
  </div>

  <div>
    <h1>How can I qualify to apply ?</h1>

    <ul>
      <li>
        You will be expected to answer a list of questions for psychometric
        analysis which is to be submitted
      </li>
      <li>Approval of your loan is then determined based off this analysis,</li>
    </ul>
  </div>
  <div>
    <h1>What are the requirements ?</h1>
    <ul>
      <li>Must be 21 years old and above</li>
      <li>Be holder of ID document or driver's license</li>
      <li>Be officially employed with a bank account</li>
      <li>Have a registered mobile phone number</li>
    </ul>
  </div>
</div>
