<div class = "container-hero">

   
   

</div>




<div class = "slider-container">

    <ngb-carousel class = "slider">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/istockphoto-1255688156-170667a.jpg" alt="Random first slide">
          </div>
          <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/istockphoto-1255688156-170667a.jpg" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../../assets/istockphoto-1255688156-170667a.jpg" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
          </div>
        </ng-template>
      </ngb-carousel>







</div>





<div class = "cards">


    <div class = "card">


        <img src = "../../../assets/istockphoto-1145371340-170667a.jpg">


        <div>

           <h2> Reliable Money Deals </h2> 


        </div>

    </div>



    <div class = "card">


        <img src = "../../../assets/istockphoto-1255688156-170667a.jpg">


        <div>


           <h2>Information Availble</h2> 


        </div>

    </div>






    <div class = "card">


        <img src = "../../../assets/istockphoto-1316644624-170667a.jpg">


        <div>


           <h2>  Piggy Bank Empty Contact Us </h2>

        </div>

    </div>



</div>



<footer>


    <div>


        
        Images From Splash Website For Illustration Only


    </div>



</footer>