.container-hero {
  height: 600px;
  background-image: url("../../../assets/issabelle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  color: #ffe400;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  align-items: center;
}

.slider {
  height: 250px;
  width: 700px;
}

.slider img {
  height: 250px;
  width: 700px;
}

.weather {
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 30px;
}

.cards {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  height: 400px;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin: 5px;
}

.cards img {
  height: 350px;
  width: 320px;
}

footer {
  display: flex;
  justify-content: center;
  height: 200px;
  color: #ffe400;
  background-color: #2a8bff;
}

footer div {
  padding: 40px;
}

.form-container {
  width: 400px;
  padding-top: 20px;
  height: 470px;
  color: #000000;
  background-color: white;
  margin-right: 30px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.sub {
  margin-bottom: 40px;
}

.border-container {
  border-top: solid #000000 0.5px;
}

.bottom-container {
  border-bottom: solid #000000 0.5px;
}
button {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #14a76c;
  border-radius: 10px;
  background-color: #ffe400;
}
